<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Administrador de Comics</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" th:href="@{/css/fullcalendar.min.css}"
	href="../../css/fullcalendar.min.css" />
<link rel="stylesheet" th:href="@{/css/fullcalendar.print.css}"
	href="../../css/fullcalendar.print.css" media='print' />
<link rel="stylesheet" th:href="@{/css/jquery-ui.css}"
	href="../../css/jquery-ui.css" />	
<script type="text/javascript" th:src="@{/js/moment.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/js/fullcalendar.min.js}"></script>
<link rel="stylesheet" th:href="@{/css/principal.css}"
	href="../../css/principal.css" />
</head>
<script type="text/javascript" th:src="@{/js/principal.js}"></script>
<body>
	<input type="hidden" th:value="${userid}" id="userId" />
	<div id='loading'>loading...</div>
	<table align="center">
		<tr>
			<td><input type="button" value="Borrar"
				onclick="enviar('delete-event','Borrar');" /></td>
			<td><input type="button" value="Comprar"
				onclick="enviar('buy-event','Comprar');"></td>
		</tr>
	</table>
	<div id='wrap'>
		<div id='external-events'>
			<h4>Listado de Comics</h4>
			<table border="1" class="fixed_header" id="tblcomics">
				<thead>
					<tr>
						<th class="subtitulo">Titulo</th>
						<th class="subtitulo">Precio</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="cal,iterStat : ${comics}"
						th:class="${iterStat.odd}? 'odd'">
						<td th:utext="${cal.titulo}"/>
						<td th:utext="${cal.precio}" style="text-align: center;"/>
					</tr>
				</tbody>
			</table>
		</div>
		<div id='calendar'></div>
	</div>
	<div class="parent">
		<div class="absolute">
			<h4>Comic Seleccionado</h4>
			<table>
				<tr>
					<td>
						Titulo
					</td>
				</tr>
				<tr>
					<td>
						<input type="text" id="textTitulo" disabled="disabled"/>
					</td>
				</tr>
				<tr>
					<td>
						Precio
					</td>
				</tr>
				<tr>
					<td>
						<input type="text" id="textPrecio" disabled="disabled"/>
					</td>
				</tr>
				<tr>
					<td>
						N&uacute;mero
					</td>
				</tr>
				<tr>
					<td>
						<input type="text" id="txtNumero" disabled="disabled"/>
					</td>
				</tr>
				<tr>
					<td>
						<input type="text" id="datepicker" disabled="disabled"/>
					</td>
				</tr>
				<tr>
					<td>
						<input type="button" value="Agregar" id="btnAgregar" disabled="disabled"/ onclick="agregarComicCalendario();">
					</td>
				</tr>
			</table>
			
		</div>
	</div>
</body>
</html>